fastapi==0.104.1
uvicorn==0.24.0.post1
pandas>=2.2.0
requests>=2.29.0
streamlit>=1.40.0
numpy>=1.26.3
openai>=1.50.0
google-generativeai==0.7.2
tiktoken
python-jose==3.3.0
customerio==2.1
pillow>=10.4.0
scipy>=1.11.0
pyarrow>=14.0.0
